<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Publisher</key>
		<string>http://www.adwo.com</string>
		<key>Name</key>
		<string>安沃</string>
		<key>NumRatings</key>
		<integer>106</integer>
		<key>Rating</key>
		<real>3.5</real>
		<key>Price</key>
		<string>打开</string>
		<key>Icon</key>
		<string>Baseball.png</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>http://www.youmi.net</string>
		<key>Name</key>
		<string>有米</string>
		<key>NumRatings</key>
		<integer>114</integer>
		<key>Rating</key>
		<real>4.5</real>
		<key>Price</key>
		<string>打开</string>
		<key>Icon</key>
		<string>Blocks.png</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>http://www.middi.net</string>
		<key>Name</key>
		<string>米迪</string>
		<key>NumRatings</key>
		<integer>87</integer>
		<key>Rating</key>
		<integer>4</integer>
		<key>Price</key>
		<string>打开</string>
		<key>Icon</key>
		<string>Checkers.png</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>http://www.guomob.com</string>
		<key>Name</key>
		<string>果盟</string>
		<key>NumRatings</key>
		<integer>254</integer>
		<key>Rating</key>
		<integer>4</integer>
		<key>Price</key>
		<string>打开</string>
		<key>Icon</key>
		<string>Dinner.png</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>http://www.cocounion.com</string>
		<key>Name</key>
		<string>触控</string>
		<key>NumRatings</key>
		<integer>422</integer>
		<key>Rating</key>
		<integer>5</integer>
		<key>Price</key>
		<string>打开</string>
		<key>Icon</key>
		<string>Football.png</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>http://www.domob.cn</string>
		<key>Name</key>
		<string>多盟</string>
		<key>NumRatings</key>
		<integer>45</integer>
		<key>Rating</key>
		<integer>5</integer>
		<key>Price</key>
		<string>打开</string>
		<key>Icon</key>
		<string>MathGraph.png</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>http://www.mobisage.cn/</string>
		<key>Name</key>
		<string>艾德思奇</string>
		<key>NumRatings</key>
		<integer>23</integer>
		<key>Rating</key>
		<integer>4</integer>
		<key>Price</key>
		<string>打开</string>
		<key>Icon</key>
		<string>Home.png</string>
	</dict>
	<dict>
		<key>Publisher</key>
		<string>http://www.jpmob.com/</string>
		<key>Name</key>
		<string>巨朋</string>
		<key>NumRatings</key>
		<integer>68</integer>
		<key>Rating</key>
		<integer>4</integer>
		<key>Price</key>
		<string>打开</string>
		<key>Icon</key>
		<string>Sand.png</string>
	</dict>
</array>
</plist>
