%% -*- mode: erlang -*-

{deps, [
			{mochiweb, ".*", {git, "https://github.com/mochi/mochiweb.git", {branch, "master"}}},
			{log4erl, ".*", {git, "https://github.com/ahmednawras/log4erl.git", {branch, "master"}}},
			{dynamic_compile, ".*", {git, "https://github.com/jkvor/dynamic_compile.git", {branch, "master"}}},
			{mysql, ".*", {git, "https://github.com/dizzyd/erlang-mysql-driver.git", {branch, "master"}}},
			{ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}},
			{apns, ".*", {git, "https://github.com/inaka/apns4erl.git", {branch, "master"}}}
		]
}.
